<section class="video-section">
  <video 
    #videoElement
    class="about-video" 
    autoplay 
    loop 
    muted
    playsinline
    disablePictureInPicture
    controlslist="nodownload nofullscreen noremoteplaybook"
    preload="auto">
    <source src="https://pub-df87431820cb4b02a9745b6510a8b00e.r2.dev/assets/assets/video720.mp4" type="video/mp4" media="(max-width: 767px)">
    <source src="https://pub-df87431820cb4b02a9745b6510a8b00e.r2.dev/assets/assets/video4k.mp4" type="video/mp4" media="(min-width: 768px)">
    Your browser does not support the video tag.

  </video>
</section>
